.container {
  max-width: 1080px;
  min-width: 1080px;
  width: 100%;
  margin: 0 auto;
}

* {
  font-family: "Montserrat", sans-serif;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  height: 800px;
  background: url("../images/header.png") no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__block {
  background: rgba(255, 255, 255, 0.76);
  height: 600px;
  width: 100%;
}

.header__block .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  position: relative;
}

.header__block h1 {
  font-size: 72px;
  line-height: 88px;
  color: #000000;
  font-weight: 800;
  text-shadow: -6px -6px 0px rgba(254, 1, 1, 0.29), 6px 6px 0px rgba(10, 189, 240, 0.29);
}

.header__block h2 {
  font-size: 36px;
  line-height: 44px;
  font-weight: 300;
  color: #000000;
  margin-top: 10px;
}

.arrow {
  border-left: 6px solid #000;
  border-top: 6px solid #000;
  position: absolute;
  width: 35px;
  height: 35px;
}

.arrow:after {
  content: "";
  position: absolute;
  top: -12px;
  width: 29px;
  height: 29px;
  border-left: 6px solid rgba(10, 189, 240, 0.29);
  border-top: 6px solid rgba(10, 189, 240, 0.29);
}

.arrow:before {
  content: "";
  position: absolute;
  top: 0px;
  left: -12px;
  width: 29px;
  height: 29px;
  border-left: 6px solid rgba(254, 1, 1, 0.29);
  border-top: 6px solid rgba(254, 1, 1, 0.29);
}

.right__top__arrow {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.left__bottom__arrow {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.right__bottom__arrow {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.header__block .left__top__arrow {
  left: 0;
  top: 120px;
}

.header__block .right__top__arrow {
  right: 0;
  top: 120px;
}

.header__block .left__bottom__arrow {
  left: 0;
  bottom: 120px;
}

.header__block .right__bottom__arrow {
  right: 0;
  bottom: 120px;
}

.glitch {
  position: relative;
  
  margin: 0 auto;
}

@-webkit-keyframes noise-anim {
  0% {
    clip: rect(76px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(36px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(68px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(93px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(22px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 3px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 47px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 85px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 36px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(84px, 9999px, 77px, 0);
  }
  85% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 89px, 0);
  }
  95% {
    clip: rect(60px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 89px, 0);
  }
}

@keyframes noise-anim {
  0% {
    clip: rect(76px, 9999px, 20px, 0);
  }
  5% {
    clip: rect(36px, 9999px, 51px, 0);
  }
  10% {
    clip: rect(68px, 9999px, 38px, 0);
  }
  15% {
    clip: rect(93px, 9999px, 88px, 0);
  }
  20% {
    clip: rect(70px, 9999px, 46px, 0);
  }
  25% {
    clip: rect(19px, 9999px, 63px, 0);
  }
  30% {
    clip: rect(98px, 9999px, 14px, 0);
  }
  35% {
    clip: rect(98px, 9999px, 40px, 0);
  }
  40% {
    clip: rect(79px, 9999px, 62px, 0);
  }
  45% {
    clip: rect(22px, 9999px, 49px, 0);
  }
  50% {
    clip: rect(8px, 9999px, 3px, 0);
  }
  55% {
    clip: rect(49px, 9999px, 47px, 0);
  }
  60% {
    clip: rect(24px, 9999px, 32px, 0);
  }
  65% {
    clip: rect(88px, 9999px, 85px, 0);
  }
  70% {
    clip: rect(39px, 9999px, 36px, 0);
  }
  75% {
    clip: rect(63px, 9999px, 24px, 0);
  }
  80% {
    clip: rect(84px, 9999px, 77px, 0);
  }
  85% {
    clip: rect(5px, 9999px, 46px, 0);
  }
  90% {
    clip: rect(11px, 9999px, 89px, 0);
  }
  95% {
    clip: rect(60px, 9999px, 97px, 0);
  }
  100% {
    clip: rect(2px, 9999px, 89px, 0);
  }
}
.glitch:after {
  content: attr(data-attr);
  position: absolute;
  left: 2px;
  text-shadow: -1px 0 red;
  top: 0;
  color: black;
  width:100%;
  /* background: white; */
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim 3s infinite linear alternate-reverse;
}

@-webkit-keyframes noise-anim-2 {
  0% {
    clip: rect(67px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(77px, 9999px, 96px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 17px, 0);
  }
  25% {
    clip: rect(40px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(67px, 9999px, 40px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(64px, 9999px, 50px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(66px, 9999px, 46px, 0);
  }
  60% {
    clip: rect(36px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 47px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 9px, 0);
  }
  90% {
    clip: rect(51px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 54px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 46px, 0);
  }
}

@keyframes noise-anim-2 {
  0% {
    clip: rect(67px, 9999px, 22px, 0);
  }
  5% {
    clip: rect(47px, 9999px, 74px, 0);
  }
  10% {
    clip: rect(24px, 9999px, 37px, 0);
  }
  15% {
    clip: rect(77px, 9999px, 96px, 0);
  }
  20% {
    clip: rect(19px, 9999px, 17px, 0);
  }
  25% {
    clip: rect(40px, 9999px, 58px, 0);
  }
  30% {
    clip: rect(67px, 9999px, 40px, 0);
  }
  35% {
    clip: rect(99px, 9999px, 97px, 0);
  }
  40% {
    clip: rect(80px, 9999px, 5px, 0);
  }
  45% {
    clip: rect(64px, 9999px, 50px, 0);
  }
  50% {
    clip: rect(66px, 9999px, 99px, 0);
  }
  55% {
    clip: rect(66px, 9999px, 46px, 0);
  }
  60% {
    clip: rect(36px, 9999px, 73px, 0);
  }
  65% {
    clip: rect(4px, 9999px, 16px, 0);
  }
  70% {
    clip: rect(32px, 9999px, 60px, 0);
  }
  75% {
    clip: rect(98px, 9999px, 47px, 0);
  }
  80% {
    clip: rect(42px, 9999px, 34px, 0);
  }
  85% {
    clip: rect(89px, 9999px, 9px, 0);
  }
  90% {
    clip: rect(51px, 9999px, 48px, 0);
  }
  95% {
    clip: rect(14px, 9999px, 54px, 0);
  }
  100% {
    clip: rect(99px, 9999px, 46px, 0);
  }
}
.glitch:before {
  content: attr(data-attr);
  position: absolute;
  left: -2px;
  text-shadow: 1px 0 blue;
  top: 0;
  color: black;
  /* background: white; */
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-anim-2 4s infinite linear alternate-reverse;
}

nav ul {
    list-style-type:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;

}
.nav__container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    padding:9px 0px;
    height: 100%;

}
nav ul a {
    font-size: 18px;
line-height: 22px;
text-decoration: none;
color: #000000;
width:156px;
text-align:center;
display:block;
height: 100%;

}
.nav__container li {
    position: relative;
    height: 100%;

}
.nav__container li.active:after {
    content:"";
    width:100%;
    height:4px;
    background:rgba(10, 189, 240, 0.29);
    position: absolute;
    left:0;
    bottom:-50px;
}
nav {
    position: -webkit-sticky;
    position: sticky;
    background:#fff;
z-index:999;
    top:0;
    -webkit-box-shadow: 0px 3px 6px rgba(254, 1, 1, 0.29), 0px 2px 4px rgba(10, 189, 240, 0.29);
            box-shadow: 0px 3px 6px rgba(254, 1, 1, 0.29), 0px 2px 4px rgba(10, 189, 240, 0.29);
}
h3 {
    font-size: 50px;
line-height: 61px;
text-align: center;

color: #000000;

text-shadow: -6px -6px 0px rgba(254, 1, 1, 0.3), 6px 6px 0px rgba(10, 189, 240, 0.29);
}
main, #form {
    padding:90px 0px;
}
.main__row {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
}
main iframe {
  widows: 465px;
  border-radius:10px;
  height:250px;
}
.main__text {
  width:40%;
}
.main__row {
  margin-top:33px;
  margin-bottom:106px;
}
.blue__button {
  background: #0ABDF0;
border-radius: 4px;
width:230px;
height:42px;
display:-webkit-box;
display:-ms-flexbox;
display:flex;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
color:#fff;
font-weight: bold;
font-size: 20px;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-decoration: none;
margin:0 auto;
-webkit-transition:.3s;
transition:.3s;
}
.blue__button:hover {
  -webkit-transition:.3s;
  transition:.3s;
  background: #19afd9
}
#reasons {
padding:108px 0px;
background: rgba(10, 189, 240, 0.05);
}
nav {
  background:#fff;
}
.reasons__row {
  margin-top:69px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between
}

.reasons__block img {
width:139px;
height:139px;
margin-bottom:29px;

}
.reasons__block p {
  font-size: 20px;
line-height: 24px;
color:#000;
max-width:250px;
text-align:center;
}
.reasons__block {
  width:22%;
  text-align:center;
}
#teachers {
  padding:108px 0px;
}
#enjoy {
  height: 800px;
  background: url("../images/man.jpg") no-repeat;
  background-size: cover;
  background-position: 50% 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.enjoy__block {
  background: rgba(255, 255, 255, 0.76);
  height: 600px;
  width: 100%;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align:center;
    -ms-flex-align:center;
        align-items:center;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
}


.enjoy__block h5 {

font-weight: bold;
font-size: 40px;
line-height: 49px;
text-align: center;

color: #000000;
margin-bottom:20px;

}
.form__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin-top:110px; 
}
.form__block input {
width:25%;
font-size: 16px;
line-height: 20px;
margin-bottom:70px;
height:40px;
padding:0 10px;
color: #000000;
border:none;
-webkit-transition:.3s;
transition:.3s;
border-bottom: 3px solid #0ABDF0;
}
textarea {
border:none;
border-bottom: 3px solid #0ABDF0;
resize:none;
height: 170px;
  width:62.5%;
  font-size: 16px;
  padding:0 10px;

  line-height: 20px;
  
  -webkit-transition:.3s;
  
  transition:.3s;
  color: #000000;
  
}
.form__block button {
  width:25%;
  margin:0;
}

input:focus, input:active, textarea:focus, textarea:active {
  outline:none;
  border-bottom:3px solid rgba(254, 1, 1, 0.29);
-webkit-transition:.3s;
transition:.3s;}

#reviews {
  
background: rgba(10, 189, 240, 0.05);
padding:80px 0px;
}
.reviews__wrapper {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  margin-top:70px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review__header {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.review__block p{
margin-top:16px;
font-size: 16px;
line-height: 20px;

color: #000000;
}
.review__block {
  width:45%;
  position: relative;
  margin-bottom:70px;
  padding:24px;
}
.review__block .left__top__arrow {
  left: 0;
  top: 0;
}

.review__block .right__top__arrow {
  right: 0;
  top: 0;
}

.review__block .left__bottom__arrow {
  left: 0;
  bottom: 0;
}

.review__block .right__bottom__arrow {
  right: 0;
  bottom: 0;
}

#contacts {
  padding:80px 0px;
}
.contacts__list p{
  font-size:24px;
  line-height:29px;
  margin-bottom:21px;
  color:#000;
  font-weight:100;
  position: relative;
cursor:pointer;
}
.contacts__list p.active {
  font-weight:bold;
}
.contacts__list p.active:before {
content:"";
position: absolute;
left:-16px;
top:0;
height:100%;
width:4px;
background:rgba(254, 1, 1, 0.29)
}
.contacts__wrapper {
  margin-top:50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}

footer {
  background:url('../images/footer.png') no-repeat;
  background-size:cover;
height:350px;
position: relative;  
}
footer:after {
  content:"";
  left:0;
  top:0;
  position: absolute;
  width: 100%;
  height:100%;
  background:rgba(0,0,0,.7)
}
footer .container {
  position: relative;
  z-index:9;
}

#contacts iframe {
  border-radius:10px;
}
#teachers img {
  width:216px;
  margin-bottom:16px;
  height:216px;
}
#teachers .item {
  font-size: 14px;
  line-height: 17px;
  text-align:center;
  max-width:216px;
}
#teachers p {
  margin:5px 0px;
}
.carousel__wrapper {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top:70px;
}
.owl-item {
  /* width:216px !important; */
}
.carousel__description {
  text-align:right;
  font-size: 14px;
line-height: 17px;
min-width:170px;
max-width:170px;
margin-right:50px;  padding-top:253px;
}
.carousel__description p:first-child {
  padding-bottom:34px;
}
.spec {
  height:51px;
  min-height: 51px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;}
.carousel {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
}
.item {
  margin:0 20px;
}
.copyright {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
text-align: center;
padding-top:42px;
  color:#fff;
  font-size: 22px;
  line-height: 27px;
}
.footer__links {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top:85px;
}
.footer__links div {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align:center;
      -ms-flex-align:center;
          align-items:center;
}
.footer__links img {
  margin-right:20px;
}
.footer__links a {
  color:#fff;
  font-weight:bold;
  text-decoration: none;

}
.footer__links div div {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#teachers {
  width:100%;
}
* {
  scroll-behavior: smooth;
}
.carousel {
  max-width: 770px;
  overflow-x: scroll;
}